<%- include('include/_header.ejs') %>


    
    
    <div class="back"> </span><a  href="/"> <i class="fas fa-angle-double-left"></i> users</a>
    </div>
    <div class="form-container">
        <div class="title">Update user </div>
        <div class="label">use the below form to edit user informations</div>
        <form action="" method="POST" id="update_form">
            <input type="hidden" name="id" value="<%= user._id %> ">
            <label for="">name</label>
                 
                <input type="text" value="<%= user.name %> " name="name" placeholder="kylie smith">
             <br>
            <label for="">email</label>
                 
                <input type="email" value="<%= user.email    %> " name="email"  placeholder="example@gmail.com">
             <br>
              <!--gender-->
            <label class="radio" for="">
                <span>Gender</span>
                <span><input type="radio" name="gender" <%= user.gender == "male" && 'checked' %>  value="male" id=""> male</span>
                <span><input type="radio" name="gender" <%= user.gender == "female" && 'checked' %>  value="female" id=""> female</span>

            </label> <br>
             <!--status-->
            <label class="radio" for=""> <span>status </span>
                <span><input type="radio" name="status" <%= user.status == "active" && 'checked' %>    value="active" id=""> active</span>
                <span><input type="radio" name="status" <%= user.status == "inactive" && 'checked' %>    value="inactive" id=""> inactive </span>

            </label> <br>
            <button class="submit" type="submit">Update <i class="fa-solid fa-check"></i></button>
        </form>
    </div>

     

 <!--include footer-->

<%- include('include/_footer') %> 
<!--/include footer-->