<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Update User</title>
</head>
<body>

    <header id="header"> 
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">user managment system</a>
                </div>
            </div>
        </nav>
    </header>
    
    
    <div class="back"> </span><a  href="/"> <i class="fas fa-angle-double-left"></i> users</a>
    </div>
    <div class="form-container">
        <div class="title">Update user </div>
        <div class="label">use the below form to edit user informations</div>
        <form action="" method="POST" id="update_form">
            <input type="hidden" name="id" value="<%= user._id %> ">
            <label for="">name</label>
                 
                <input type="text" value="<%= user.name %> " name="name" placeholder="kylie smith">
             <br>
            <label for="">email</label>
                 
                <input type="email" value="<%= user.email    %> " name="email"  placeholder="example@gmail.com">
             <br>
              <!--gender-->
            <label class="radio" for="">
                <span>Gender</span>
                <span><input type="radio" name="gender" <%= user.gender == "male" && 'checked' %>  value="male" id=""> male</span>
                <span><input type="radio" name="gender" <%= user.gender == "female" && 'checked' %>  value="female" id=""> female</span>

            </label> <br>
             <!--status-->
            <label class="radio" for=""> <span>status </span>
                <span><input type="radio" name="status" <%= user.status == "active" && 'checked' %>    value="active" id=""> active</span>
                <span><input type="radio" name="status" <%= user.status == "inactive" && 'checked' %>    value="inactive" id=""> inactive </span>

            </label> <br>
            <button class="submit" type="submit">Update <i class="fa-solid fa-check"></i></button>
        </form>
    </div>

     

 <!--include footer-->

<%- include('include/_footer') %> 
<!--/include footer-->