<% for(let i = 0 ; i<users.length ; i ++){ %> 

    

    <tr>
       <td> <%= i + 1 %>  </td>
       <td> <%= users[i].name %>  </td>
       <td><%= users[i].email %></td>
       <td><%= users[i].gender %></td>
       <td><%= users[i].status %></td>
       <td>
           <a href="/update"><i class="fas fa-pencil-alt"></i></a>
       
           <a href=""><i class="fas fa-times"></i></a>
       </td>
      
    </tr>
<% } %> 