<% for (let i =0 ; i<users.length ; i++){ %> 
<% if(users[i].traitements[0][1].docName && users[i].traitements[0][1].docName != null){ %> 
<div class="card">
    <div class="row">
        <div class="name"> <%= users[i].name %> </div>
        <div class="time">
            <div><i class="fa-light fa-calendar-heart"></i><span> <%= users[i].traitements[0][2].date %>  </span></div>
            <div><i class="fa-regular fa-clock"></i> <span><%= users[i].traitements[0][2].hour %></span></div>
        </div>
    </div>
    <div class="info">
        Mutuelle : <span>CNSS</span>
    </div>
    <div class="info">doctor  :  <%= users[i].traitements[0][1].docName %> </div>
    <div class="info">price :  <%= users[i].traitements[0][0].price %> MAD</div>
    <div class="status"> <div class="dot"></div> <span>complet</span></div>
</div>
<% } %> 
<% } %> 